
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>



    <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <img width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>

<header>
  <h2>Favorite Authors</h2>
</header>

<section>
  <nav>
    <ul>
      <li><button id="add_author" class="btn success">Add An Author</button></li>
      <li><a href="#">Author 1</a></li>
      <li><a href="#">Author 2</a></li>
      <li><a href="#">Author 3</a></li>
    </ul>
  </nav>

  <article>
    <h1>We Have Quotes By:</h1>
    <table>
      <tr>
        <th>Author</th>
        <th>Actions Avialable</th>
      </tr>
      <tr>
        <td>Anne Rice</td>
        <td><button class="btn success">Edit</button>
    <button class="btn info">Delete</button></td>
      </tr>
      <tr>
        <td>Donald Trump</td>
        <td><button class="btn success">Edit</button>
          <button class="btn info">Delete</button></td>
      </tr>
      <tr>
        <td>Oprah</td>
        <td><button class="btn success">Edit</button>
          <button class="btn info">Delete</button></td>
      </tr>
    </table>
  </article>
</section>

<footer>
  <p>M.E.A.N Authors Assignment - Coding Dojo - Seattle | 2019</p>
</footer>

</body>
