<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="title">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div class="main_img">
    <img width="50" alt="Angular Logo"
      src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fpngimg.com%2Fuploads%2Fcake%2Fcake_PNG13100.png&f=1">
  </div>

  <div class="form">
    <form (submit)="onSubmit(); getCakesFromService()">
      <h3>Submit a cake to be rated</h3>
      <hr>
      <!-- <p> {{ newCake | json }} </p> -->
      <p>Baker Name:</p>
      <input type="text" name="newCake.title" [(ngModel)]="newCake['bakerName']">
      <p>Image URL:</p>
      <input type="text" name="newCake.url" [(ngModel)]="newCake['ImageUrl']">
      <input type="submit" value="submit" />
    </form>
  </div>

  <div class="right_side" >
    <div name="cake_details" *ngFor="let cake of allCakes.data">
      <div class="cake_entries">

          <!-- <p>{{ cake.bakerName}}</p> -->
          <!-- <p>{{ cake.ImageUrl}}</p>
        <p>ID {{cake._id}}</p> -->
          <div class="img">
              <a [routerLink]="['']"><img src="{{cake.ImageUrl}}" alt="image" (click)="getCakeFromService(cake._id)"></a>
          </div>



        <div class="dropdown">
          <form (submit)="onSubmit(); getCakesFromService()">
            <div class="select">
              <select name="cake_drpdwn" class="dropdown">
                <option value="1">1 Star</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
              </select>
            </div>
            <div class="textarea">
              <textarea name="cake_coment" class="textarea"></textarea>
            </div>
            <div class="input">
              <input type="submit" value="Rate" />
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="root">
    <app-display *ngIf="cakeToShow" [cakeToShow]='cakeToShow'></app-display>
  </div>
</div>
